# Build directories
/*/bin
/thirdParty/*/

# Linux build results
*.o
*.a
*.ko

# Linux kernel module build results
/LetheCommon/module/*.ko.cmd
/LetheCommon/module/*.o.cmd
/LetheCommon/module/*.mod.c
/LetheCommon/module/.tmp_versions/
/LetheCommon/module/Module.symvers
/LetheCommon/module/modules.order

# Ignore temporary files
*.log
*.swp

# Windows build results
*.lib
*.exe

# Code Blocks files
*.cbp
*.depend
*.layout

# Visual Studio files
/*.ncb
/*.suo
*.vcproj*.user
*/src/Debug*
*/src/Release*
*/test/Debug*
*/test/Release*

